<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizlet Clone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style/create_flashcards_style.css">
</head>
<body>
    <header class="nav-bar">
        <a class="logo" href="/">Quizelet</a>
        <input type="search" class="search-bar" placeholder="Search..." >
        <div class="nav-btns">
            <a class="plus-sign" href="/create_flashcard_module">+</a>
            <a class="create" href="/create_flashcard_module">Create</a>
            <button class="my-profile-btn">My profile</button>
        </div>
    </header>
    <section class="main" >
        <div class="title-bar">
            <h1 class="main-title">Create a module with cards</h1>
            <div class="main-title-actions">
                <button class="btn btn-outline">Create</button>
                <button class="btn btn-primary">Create and practice</button>
            </div>
        </div>
    </section>

</body>
</html>