<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizlet Clone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <header class="nav-bar">
        <a class="logo" href="/">Quizelet</a>
        <input type="search" class="search-bar" placeholder="Search..." >
        <div class="nav-btns">
            <a class="plus-sign" href="/create_flashcard_module">+</a>
            <a class="create" href="/create_flashcard_module">Create</a>
            <button class="my-profile-btn">My profile</button>
        </div>
    </header>
    <section class="welcome-page">
        <h1 class="main-title">Lets quiz it!</h1>
        <p class="main-descr">Master all the material you want to learn with interactive flashcards, practice tests, and more.</p>
        <div class="cards">
            <button class="card">
                <img class="card-img" src="static/img/img1.png" alt="img1" width="282" height="368">
                <span class="card-label">Learn</span>
            </button>
            <button class="card">
                <img class="card-img" src="static/img/img2.png" alt="img2" width="282" height="368">
                <span class="card-label">Flashcards</span>
            </button>
            <button class="card">
                <img class="card-img" src="static/img/img3.png" alt="img3" width="282" height="368">
                <span class="card-label">Tests</span>
            </button>
            <button class="card">
                <img class="card-img" src="static/img/img4.png" alt="img4" width="282" height="368">
                <span class="card-label">Quizzes</span>
            </button>
        </div>
    </section>
    <section class="info-page">
        <div class="info-page-container">
            <div class="info-page-box">
                <img class="info-page-img img-learn" src="static/img/learn-content.png" alt="learn content">
                <div class="info-page-text-wrapper wrapper1">
                    <h2 class="info-page-box-label">Your own way to learn</h2>
                    <p class="info-page-box-descr">Transform flashcards into multiple-choice questions and use Learn mode features to practice. Solidify your knowledge with interactive study tools like Matching and Spaced Review.</p>
                    <button class="start-button">Start</button>
                </div>

            </div>
            <div class="info-page-box">
                <img class="info-page-img img-quiz" src="static/img/test-content.png" alt="learn content">
                <div class="info-page-text-wrapper wrapper2">
                    <h2 class="info-page-box-label">Create your quizzes!</h2>
                    <p class="info-page-box-descr">Prepare for any test with personalized practice quizzes and study sessions. Convert your flashcards into example tests, track progress, and focus on what matters most.</p>
                    <button class="start-button">Start</button>
                </div>
            </div>
        </div>
    </section>
    <section class="flashcards-preview">
        <h2 class="flashcards-preview-header">Popular flashcards sets</h2>
        <div class="flashcards-preview-wrapper">
            <div class="flashcards-row">
                <button class="flashcard">
                    <div class="flashcard-top">
                        <div class="flashcard-title">Flashcard set title</div>
                        <div class="flashcard-badge">192 cards</div>
                    </div>
                    <div class="flashcard-owner">Name of owner</div>
                </button>
                <button class="flashcard">
                    <div class="flashcard-top">
                        <div class="flashcard-title">Flashcard set title</div>
                        <div class="flashcard-badge">192 cards</div>
                    </div>
                    <div class="flashcard-owner">Name of owner</div>
                </button>
                <button class="flashcard">
                    <div class="flashcard-top">
                        <div class="flashcard-title">Flashcard set title</div>
                        <div class="flashcard-badge">192 cards</div>
                    </div>
                    <div class="flashcard-owner">Name of owner</div>
                </button>
            </div>
            <div class="flashcards-row">
                <button class="flashcard">
                    <div class="flashcard-top">
                        <div class="flashcard-title">Flashcard set title</div>
                        <div class="flashcard-badge">192 cards</div>
                    </div>
                    <div class="flashcard-owner">Name of owner</div>
                </button>
                <button class="flashcard">
                    <div class="flashcard-top">
                        <div class="flashcard-title">Flashcard set title</div>
                        <div class="flashcard-badge">192 cards</div>
                    </div>
                    <div class="flashcard-owner">Name of owner</div>
                </button>
                <button class="flashcard">
                    <div class="flashcard-top">
                        <div class="flashcard-title">Flashcard set title</div>
                        <div class="flashcard-badge">192 cards</div>
                    </div>
                    <div class="flashcard-owner">Name of owner</div>
                </button>
            </div>
        </div>
    </section>
</body>
</html>
