<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizlet Clone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <header class="nav-bar">
        <h1 class="logo">Quizelet</h1>
        <input type="search" class="search-bar" placeholder="Search..." >
        <div class="nav-btns">
            <a class="plus-sign">+</a>
            <a class="create">Create</a>
            <button class="my-profile-btn">My profile</button>
        </div>
    </header>
    <section class="welcome-page">

    </section>
</body>
</html>